<%= form_for @manufacture do |f| %>

	<% if @manufacture.errors.any? %>
		<ul>
			<% @manufacture.errors.full_messages.each do |message| %>
			<li> <%= message %></li>
			<% end %>
		</ul>
	<% end %>

	<dl>
		<% [:name, :gross, :active, :rate].each do |attribute| %>
			<dt><%= attribute %></dt>
			<dd><%= f.text_field attribute %></dd>
			</li>
		<% end %>
	</dl>

  <%= f.submit %>

<% end %>
