|<%= link_to "Manufactures", manufactures_path %>
|
<%#= @manufacture.errors.messages %>
<input id='checkall' type="checkbox"> Check all

<%= link_to 'New', new_manufacture_path %>

<div>
  <div class='col-md-6'>
    <%= simple_form_for(@manufacture = Manufacture.new, html: {class: 'form-vertical' }, remote: true) do |f| %>
      <% [:name, :gross, :active, :rate].each do |attribute| %>
        <%= f.input attribute %>
      <% end %>
      <%= f.button :submit %>
    <% end %>
  </div>

  <div class='col-md-6'>
    <ul id='manufacture_list' >
      <% @manufactures.each do |manufacture| %>
        <%= render 'manufacture', manufacture: manufacture %>
      <% end %>
    </ul>
  </div>

</div>
