|<%= link_to "Manufactures", manufactures_path %>
|
<%#= @manufacture.errors.messages %>

	<ul>
		<% @manufactures.each do |manufacture|  %>
			<li style="font-weight: bold;"> <%= manufacture.name %></li> <li> <%= link_to "Show", manufacture_path(manufacture) %> <%= link_to "Edit", edit_manufacture_path(manufacture) %>
		<%= link_to 'Delete', manufacture_path(manufacture), method: :delete %></li>
		<% end %>
	</ul>

<%= link_to 'New', new_manufacture_path %>
