|<%= link_to "Manufactures", manufactures_path %>
|
<%#= @manufacture.errors.messages %>
<input id='checkall' type="checkbox"> Check all

<%#= link_to 'New', new_manufacture_path %>

<div>
  <div class='col-md-6'>
    <%= simple_form_for(@manufacture = Manufacture.new, html:{class: 'form-vertical' }, remote: true) do |f| %>
      <% [:name, :gross, :active, :rate].each do |attribute| %>
        <%= f.input attribute %>
      <% end %>
      <%= f.button :submit %>
    <% end %>
  </div>

  <div class='col-md-6'>
    <ul id='manufacture_list' >
      <% @manufactures.each do |manufacture| %>
        <%= render 'manufacture', manufacture: manufacture %>
      <% end %>
    </ul>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="manufacure-modal-title">Modal title</h4>
        </div>
        <div id='manufacture-modal-body' class="modal-body">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
