<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Manufactures Blob</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <%= flash_message %>

    <ol class="breadcrumb">
      <% if params[:controller] == "manufactures" %>
        <li><%= link_to "Manufactures", manufactures_path %></li>
        <% if params[:id] %>
          <li><%= link_to "Products", manufacture_products_path(params[:id]) %></li>
        <% end %>
      <% end %>

      <% if params[:controller] == "products" %>
        <li><%= link_to "Manufactures", manufactures_path %></li>
        <li><%= link_to "Products", manufacture_products_path(params[:manufacture_id]) %></li>
      <% end %>
    </ol>

    <div class="container">
      <% if current_user %>
        Hi <%= current_user.email%> <%= link_to "(get out!)", logout_path %>
      <% else %>
          <%= link_to 'Register', register_path %> or
          <%= link_to 'Enter', login_path %>
      <% end %>

      <%= yield %>
    </div>

</body></html>
